.header {
    width: 100%;

    background: #f7fafd;
    border-radius: 0 0 30px 30px;
}

.header__row {
    width: 100%;
    max-width: 1420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header__logoIcon {
    width: 53px;
    height: 47px;
    margin-right: auto;
}

.header__logoText {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    white-space: nowrap;

    margin-left: 15px;
}

.header__menu {
    margin: 0;
    width: 100%;
    max-width: 514px;
    justify-self: center;
}

.header__menuTitleTab {
    display: none;
}

.header__menuButtonTab {
    display: none;
}

.header__menuList {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header__menuLink {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.header__menuLink:not(:last-child) {
    margin-right: 40px;
}

.header__menuLinkItem {
    display: flex;
    align-items: center;
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0;
    padding: 10px 0;

    transition: color 200ms ease;
}

.header__menuLink:hover .header__menuLinkItem {
    color: #1672e1;
}

.header__right {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header__phone {
    margin-right: 37px;
}

.header__phoneLink {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    white-space: nowrap;

    padding-top: 10px;
    padding-bottom: 10px;

    transition: color 200ms ease;
}

.header__phoneLink:hover {
    color: #1672e1;
}

.header__phoneIcon {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #1672e1;

    margin-right: 14px;
}

.header__phoneLink:hover .header__phoneIcon {
    animation: shake 300ms ease-in-out infinite;
}

@keyframes shake {
    from {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(0);
    }
}

.header__burger {
    display: none;
}

@media screen and (max-width: 1440px) {
    .header__menuLink:not(:last-child) {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1300px) {
    .header__logoText {
        font-size: 18px;
    }

    .header__menu {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .header__menuList {
        justify-content: flex-start;
    }

    .header__menuLink:not(:last-child) {
        margin-right: 25px;
    }

    .header__menuLinkItem {
        font-size: 14px;
    }
}

@media screen and (max-width: 1170px) {
    .header__logoText {
        font-size: 16px;
    }

    .header__right {
        padding-left: 10px;
    }

    .header__phone {
        margin-right: 25px;
    }

    .header__phoneLink {
        font-size: 15px;
    }

    .header__phoneIcon {
        margin-right: 10px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px) {
    .header__phoneLink span {
        display: none;
    }

    .header__phoneIcon {
        font-size: 22px;
        margin-right: 0;
    }
}

@media screen and (max-width: 1021px) {
    .header__menu {
        display: none;
    }

    .header__menu--active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        top: 0;

        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        max-width: none;

        background-color: #ffffff;
        padding-top: 30px;
        padding-bottom: 30px;
        z-index: 10;
    }

    .header__menu--active .header__menuTitleTab {
        display: inline-block;
        margin: 0;
        padding: 0 0 25px 30px;
        border-bottom: 1px solid #eeeeee;

        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #000000;
        z-index: 1;
        position: relative;
    }

    .header__menuTitleTab::after {
        content: '';
        position: absolute;
        left: 0;
        top: 54px;

        width: 100%;
        height: 80px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    .header__menu--active .header__menuButtonTab {
        display: flex;
        width: calc(100% - 60px);
        margin-left: 30px;
        flex-shrink: 0;
    }

    .header__menuButtonTabWrapper {
        margin-top: auto;
        width: 100%;
        position: relative;
    }

    .header__menuButtonTabWrapper::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 55px;
        width: 100%;
        height: 80px;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        transform: rotate(-180deg);
    }

    .header__menuNav {
        width: 100%;
    }

    .header__menu--active .header__menuNav {
        padding-left: 30px;
        padding-top: 38px;
        margin-top: 2px;
        overflow-y: auto;
    }

    .header__menuList {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .header__menuLink {
        margin-bottom: 25px;
    }

    .header__menuLink:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .header__menuLinkItem {
        font-size: 24px;
        line-height: 29px;

        padding: 10px 0;
    }

    .header__right {
        margin-left: auto;
        margin-right: 40px;
    }

    .header__phoneLink span {
        display: inline-block;
    }

    .header__burger {
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        height: 40px;
    }

    .header__burgerLine {
        width: 36px;
        height: 30px;
        position: relative;

        overflow: hidden;
    }

    .header__burgerLine::before {
        position: absolute;
        content: "";

        top: 9px;
        width: 36px;
        height: 2px;
        background: #000000;
        border-radius: 30px;

        transition: transform 200ms ease, background 200ms ease;
    }

    .header__burgerLine::after {
        position: absolute;
        content: "";

        top: 19px;
        right: 0;
        width: 20px;
        height: 2px;
        background: #000000;
        border-radius: 30px;
        transition: transform 200ms ease, background 200ms ease;
    }

    .header__burger--active {
        position: static;
        height: 30px;
    }

    .header__burger--active .header__burgerLine {
        height: 24px;
        width: 24px;
    }

    .header__burger--active .header__burgerLine::before {
        transform: rotate(45deg);
        background: #bcbcbc;
        width: 32px;
        top: 11px;
        left: -4px;
    }

    .header__burger--active .header__burgerLine::after {
        transform: rotate(-45deg);
        width: 32px;
        background: #bcbcbc;
        top: 11px;
        right: -4px;
    }
}

@media screen and (max-width: 750px) {
    .header__right {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header__logo {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .header__logoIcon {
        width: 41px;
        height: 36px;
    }

    .header__logoText {
        font-size: 16px;
        line-height: 1.2;
        margin-left: 11px;
    }

    .header__menu--active {
        padding-top: 27px;
        padding-bottom: 20px;
    }

    .header__menu--active .header__menuTitleTab {
        padding: 0 0 27px 20px;

        line-height: 1;
        font-size: 22px;
    }

    .header__menu--active .header__menuButtonTab {
        width: calc(100% - 40px);
        margin-left: 20px;
    }

    .header__menu--active .header__menuNav {
        padding-left: 20px;
    }

    .header__menuLink {
        margin-bottom: 25px;
    }

    .header__menuLinkItem {
        line-height: 1;
    }
}